<% include ../partials/header %>
<div class="row">
  <h1 style="text-align: center;">Edit <%= photo.name %></h1>
  <div class="rwd-form">
    <form action="/photos/<%= photo._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="photo[name]" value="<%= photo.name %>" autocomplete="off" />
      </div>
      <div class="form-group">
        <label for="image">Update Image</label>
        <input id="image" type="file" name="image" accept="image/*" autocomplete="off" />
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input class="form-control" type="text" name="photo[location]" id="location" value="<%= photo.location %>" autocomplete="off" />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" type="text" name="photo[description]" value="<%= photo.description %>" autocomplete="off" />
      </div>
      <div class="form-group">
        <button class="btn btn-md btn-primary btn-block">Update</button>
      </div>
    </form>
    <a href="/photos/<%= photo._id %>">Back</a>
  </div>
</div>
<% include ../partials/footer %>